Repository emscripten-core/emscripten, pull requests merged in 2018-07, with the labels that each got.

#6809 emscripten_version_cmake_variable
  cmake/Modules/Platform/Emscripten.cmake
  tests/cmake/emscripten_version/CMakeLists.txt
  tests/test_other.py
Labels: CMake

#6461 Fix problem with binding static method overloads
  AUTHORS
  src/embind/embind.js
  tests/embind/embind.test.js
  tests/embind/embind_test.cpp
Labels: embind

#6907 optimize_math_clz32_polyfill
  src/preamble.js
Labels: performance

#6305 fix_simd_right_shift
  tests/core/test_simd_shift_right.c
  tests/core/test_simd_shift_right.out
  tests/test_core.py
Labels: SIMD

#4255 embind: add UTF-8 support for string transfer
  AUTHORS
  src/embind/embind.js
  src/preamble.js
  src/settings.js
  tests/embind/embind.test.js
  tests/embind/embind_test.cpp
  tests/test_other.py
Labels: embind

#6922 fix_test_response_file_on_windows
  tests/test_core.py
Labels: tests, windows
