Repository emscripten-core/emscripten, pull requests merged in 2021-11, with the labels that each got.

#15410 [WASMFS] Current Working Directory and Relative Paths
  system/lib/wasmfs/file.cpp
  system/lib/wasmfs/file.h
  system/lib/wasmfs/syscalls.cpp
  system/lib/wasmfs/wasmfs.h
  tests/test_other.py
  tests/wasmfs/wasmfs_chdir.c
  tests/wasmfs/wasmfs_chdir.out
  tools/system_libs.py
Labels: wasmfs

#15437 [WASMFS] lstat and stat syscalls
  system/lib/wasmfs/file.cpp
  system/lib/wasmfs/syscalls.cpp
  tests/test_other.py
  tests/wasmfs/wasmfs_fstat.c
  tests/wasmfs/wasmfs_fstat.out
  tests/wasmfs/wasmfs_stat.c
Labels: wasmfs

#15455 [WASMFS] rmdir and unlink syscalls
  system/lib/wasmfs/file.h
  system/lib/wasmfs/syscalls.cpp
  tests/test_core.py
  tests/unistd/unlink.c
Labels: wasmfs

#15449 Fix glGetInternalformativ() to return correct return value on arrays > 1 elements in size.
  src/library_webgl2.js
Labels: GL

#15509 Embind: test float argument conversion with and without assertions
  src/embind/embind.js
  tests/embind/embind.test.js
  tests/embind/imvu_test_adapter.js
Labels: embind

#15550 [WASMFS] Comprehensive dup test
  tests/test_other.py
  tests/wasmfs/wasmfs_dup.c
  tests/wasmfs/wasmfs_dup.out
Labels: filesystem, wasmfs

#15527 [WASMFS] rename syscall
  system/lib/wasmfs/file.cpp
  system/lib/wasmfs/file.h
  system/lib/wasmfs/syscalls.cpp
  system/lib/wasmfs/wasmfs.cpp
  tests/stdio/test_rename.c
  tests/test_core.py
Labels: wasmfs
